
.stat{


.bg-primary {
    background-color: transparent !important;
     border-color: #007bff;
}

.bg-warning{ 
    background-color: transparent !important;
    border-color:  #ffc107 ;
}

.bg-success{ 
    background-color: transparent !important;
    border-color:  #28a745 ;
}
.bg-danger{ 
    background-color: transparent !important;
    border-color:  red ;
}
.card{
    border-radius: 0.0rem;
    margin-bottom: 0.5rem;
 }
}