<div [@routerTransition]>
    <h2 class="text-muted">Welcome <small>to iBongo - Console</small></h2>   
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa-users'" [count]="26" [label]="'Family Members'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-book'" [count]="12" [label]="'Active Izibongo'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-cogs'" [count]="0" [label]="'System Settings'" ></app-stat>
        </div>         
    </div>
</div>
